<div class="container">
  <nav class="nav">
    <select ng-model="date.month">
      <option ng-repeat="month in months" value="{{ $index }}" ng-selected="$index == date.month">{{ month }}</option>
    </select>
    <select ng-model="date.year">
      <option ng-repeat="year in years" value="{{ year }}" ng-selected="year == date.year">{{ year }}</option>
    </select>
    <button class="glyphicon glyphicon-arrow-left" ng-click="moveBack()"></button>
    <button class="glyphicon glyphicon-arrow-right" ng-click="moveForward()"></button>
  </nav>
  <div my-calendar="currentDate" ng-class="{outer: !isCurrentMonth(day.date)}">
    <a class="cac-a" ng-hide="{{!isCurrentMonth(day.date)}}" ng-href="#/day/{{ dayKey }}/{{ yearKey }}/{{ monthKey }}">{{ day.date.getDate() }}</a>
    <span class="cac-a" ng-hide="{{isCurrentMonth(day.date)}}" ng-href="#/day/{{ dayKey }}/{{ yearKey }}/{{ monthKey }}">{{ day.date.getDate() }}</span>
    <span class="calendar-description">{{ appointments.student }}</span>
    <span class="calendar-description">{{ appointments.instrument }}</span>
    <span class="calendar-description" ng-hide="{{appointments.time.getMinutes() === 59}}">{{ appointments.time | date: "h:mma" }}</span>
  </div>
</div>
